A Pandas Series is like a column in a table.

It is a one-dimensional array holding data of any type.

In [ ]:
import pandas as pd
import numpy as np

arr= np.arange(4,9)
newarr= pd.Series(arr) # creating a pandas series from list
print(newarr)
newarr[2]

In [ ]:
import pandas as pd
import numpy as np

arr= np.arange(4,7)
newarr= pd.Series(arr, index=["a","b","c"])
print(newarr)
newarr['b']

key and value as label and series

In [17]:
mydict= {
    'shankar':3.3,
    'hari': 3.,
    'md':3.02
}
x= pd.Series(mydict, index=['shankar','md']) # excludes the rest of the items
print(x)
print(x['md']) # accessing individual

shankar    3.30
md         3.02
dtype: float64
3.02

# DataFrames

Data sets in Pandas are usually multi-dimensional tables, called DataFrames.

Series is like a column, a DataFrame is the whole table.

In [18]:
dataset={
    "students":["shankar","hari","md"],
    "gpa":[3.3,3.0,3.02]
}
print(pd.DataFrame(dataset))

  students   gpa
0  shankar  3.30
1     hari  3.00
2       md  3.02